:root{
  --white: #FFFFFF;
  --highlight: #d2674e;
  --dark: #22292e;
}

.wrapper_wide{
  width: 90%;
  margin: 0 auto;
}

.wrapper{
  width: 80%;
  margin: 0 auto;
}

.wrapper_skinny{
  width: 50%;
  margin: 0 auto;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}



#logo{
  float: left;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--dark);
  text-decoration: none;
}


/* nav{
  float: right;
} */

ul{
  list-style: none;
  margin: 0;
}

li{
  /* display: inline; */
  margin-left: 2.5rem;
}

a{
  color: var(--white);
  text-decoration: none;
}

.cf:before, .cf:after{
  content: " ";
  display: table;
}

.cf:after{
  clear: both;
}

h1{
  color: var(--dark);
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 7rem 0 2rem;
}

.button{
  color: var(--white);
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  display: inline-block;
  min-width: 8.5rem;
  margin: 1.5rem 2.5% 0;
}

.button_highlight{
  background-color: var(--highlight);
  transition: background .4s ease-in-out;
}

.button_highlight:hover{
  background-color: #ba492f;
}

.button_white{
  background-color: var(--white);
  color: var(--dark);
  transition: background .4s ease-in-out;
}

.button_white:hover{
  background-color: #d6cccc;
}


.main_header{
  color: var(--dark);
  background-color:var(--white);
  padding: 2.5rem 0;
}






.wrapper_wide{
  width: 90%;
  margin: 25px auto 0;
}

.wrapper{
  width: 80%;
  margin: 0 auto;
}

.wrapper_skinny{
  width: 60%;
  margin: 0 auto;
}


img{
  width: 100%;
  max-width: 100%;
  border-radius: .35rem .35rem 0 0;
  height: 300px;
}

img:hover{
  opacity: .8;
}
/* h2:hover{
  color: var(--highlight);
} */



.podcast_overview{
  width: 200px;
  padding: 1rem;
}

/* .main_header{
  color: var(--dark);
  background-color:var(--white);
  padding: 2.5rem 0;
} */

/* nav{
  float: right;
} */

/* ul{
  list-style: none;
  margin: 0;
  padding-left: 0;
} */

/* nav > ul > li{
  display: inline;
  margin-left: 2.5rem;
} */

.pod-card{
  width: 30%;
  float: left;
  margin: 0 1% 2rem 1%;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
  border-radius: .35rem;
  background-color: rgb(68, 190, 190);

}


.logos, .posters, .invitations, .emails, .monograms, .packging, .brochures, .web-images, .pod-card{
    color: white;
    text-align: center;
    height: 300px;
    width: 30%;
}

.title{
  position: relative;
  top: 100px;
  font-size: 20px;
  font-weight: 600;
}

.logos {
  background-image:
    linear-gradient(
      rgba(68, 190, 190, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(images/schwartz.jpg);
}

.posters{
  background-image:
    linear-gradient(
      rgba(68, 190, 190, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(images/nine-vision.jpg);
}

.invitations{
  background-image:
    linear-gradient(
      rgba(68, 190, 190, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(images/yossi.jpg);
}

.emails{
  background-image:
    linear-gradient(
      rgba(68, 190, 190, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(images/peter-pan.jpg);
}

.monograms{
  background-image:
    linear-gradient(
      rgba(68, 190, 190, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(images/anagram1.jpg);
}

.packging{
  background-image:
    linear-gradient(
      rgba(68, 190, 190, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(images/yossi.jpg);
}

.brochures{
  background-image:
    linear-gradient(
      rgba(68, 190, 190, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(images/paint.jpg);
}

.web-images{
  background-image:
    linear-gradient(
      rgba(68, 190, 190, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(images/adults.jpg);
}

.postcards{
  background-image:
    linear-gradient(
      rgba(68, 190, 190, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(images/rand-com.jpg);
}

a{
  color: var(--dark);
  text-decoration: none;
}

.banner{
  background-color: rgb(68, 190, 190);
  /* height: 60vh; */
  color: white;
  font-size: 230px;
  font-weight: 700;
  text-align: center;
  /* padding: 40px 0 0; */
  text-transform: uppercase;
}

.sub-header{
  height: 30px;
  background-color: rgb(68, 190, 190);
  margin-bottom: 4rem;
  text-align: center;
}

.home, .about, .portfolio{

  max-width: 700px;
  /* margin: 0 auto; */
  color: white;
  padding: 0 65px;

}

h1{
  text-align: center;
  color: var(--dark);
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1px;
  /* padding: 8rem 0; */
}



h2{
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: var(--dark);
}

.episode_count{
  color: grey;
  font-size: .9rem;
  margin: .5rem 0 .25rem;
}

.cf:before, .cf:after{
  content: " ";
  display: table;
}

.cf:after{
  clear: both;
}





.invitation{
  background-color: rgb(68, 190, 190);
  height: 20px;
  border-radius: 55px;
  margin: 20px 0;
  text-align: center;
  color: white;
  /* padding: 5px 0 7px; */
  font-weight: 600;
}


