:root{
  --white: #FFFFFF;
  --highlight: #d2674e;
  --dark: #22292e;
}

.wrapper_wide{
  width: 90%;
  margin: 0 auto;
}

.wrapper{
  width: 80%;
  margin: 0 auto;
}

.wrapper_skinny{
  width: 50%;
  margin: 0 auto;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}



#logo{
  float: left;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--dark);
  text-decoration: none;
}


/* nav{
  float: right;
} */

ul{
  list-style: none;
  margin: 0;
}

li{
  /* display: inline; */
  margin-left: 2.5rem;
}

a{
  color: var(--white);
  text-decoration: none;
}

.cf:before, .cf:after{
  content: " ";
  display: table;
}

.cf:after{
  clear: both;
}

h1{
  color: var(--dark);
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 7rem 0 2rem;
}

.button{
  color: var(--white);
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  display: inline-block;
  min-width: 8.5rem;
  margin: 1.5rem 2.5% 0;
}

.button_highlight{
  background-color: var(--highlight);
  transition: background .4s ease-in-out;
}

.button_highlight:hover{
  background-color: #ba492f;
}

.button_white{
  background-color: var(--white);
  color: var(--dark);
  transition: background .4s ease-in-out;
}

.button_white:hover{
  background-color: #d6cccc;
}


.main_header{
  color: var(--dark);
  background-color:var(--white);
  padding: 2.5rem 0;
}






.wrapper_wide{
  width: 90%;
  margin: 25px auto 0;
}

.wrapper{
  width: 80%;
  margin: 0 auto;
}

.wrapper_skinny{
  width: 60%;
  margin: 0 auto;
}


img{
  width: 100%;
  max-width: 100%;
  border-radius: .35rem .35rem 0 0;
}

img:hover{
  opacity: .8;
}
h2:hover{
  color: var(--highlight);
}



.podcast_overview{
  width: 200px;
  padding: 1rem;
}

.main_header{
  color: var(--dark);
  background-color:var(--white);
  padding: 2.5rem 0;
}

nav{
  float: right;
}

ul{
  list-style: none;
  margin: 0;
  padding-left: 0;
}

nav > ul > li{
  display: inline;
  margin-left: 2.5rem;
}

.pod-card{
  /* width: 23%; */
  width: 40%;
  /* height: 350px; */
  /* float: left; */
  margin: 0 1% 2rem 1%;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
  border-radius: .35rem;
}

a{
  color: var(--dark);
  text-decoration: none;
}

.banner{
  /* background-image: url(images/header.jpg); */
  background-image: url(images/new-heading.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 4rem;
  height: 80vh;
  /* border-bottom: 2px solid rgb(0, 0, 71);  */
}

h1{
  text-align: center;
  color: var(--dark);
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1px;
  /* padding: 8rem 0; */
}



h2{
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: var(--dark);
}

.episode_count{
  color: grey;
  font-size: .9rem;
  margin: .5rem 0 .25rem;
}

.cf:before, .cf:after{
  content: " ";
  display: table;
}

.cf:after{
  clear: both;
}

.pagination{
  text-align: center;
  margin: 2rem 0;
}

.pagination > a, .previous_page, .current, .next_page{
  padding: 0.75rem 1rem;
  margin: 1rem 0 5rem .25rem;
  border-radius: .15rem;
  line-height: 1.25;
  text-decoration: none;
  background-color: #edeff5;
  font-weight: 700;
  font-size: .7rem;
  color: var(--dark);
  font-style: normal;
}
.pagination > a:hover, .previous_page:hover, .current:hover, .next_page:hover{
  background-color: var(--highlight);
  color: var(--white);
}

.current{
  background: var(--highlight);
  color: var(--white);
}

.disabled{
  color: #c0c0c0;
}

.disabled:hover{
  color: #c0c0c0;
  background-color: #edeff5;
}

.invitations > img{
  border-radius: 55px;
  margin: 20px 0;
}

.invitation{
  background-color: rgb(68, 190, 190);
  height: 20px;
  border-radius: 55px;
  margin: 20px 0;
  /* text-align: center; */
  color: white;
  padding: 5px 0 7px 15px;
  font-weight: 600;
}
